<section class="sec" data-current="{{curr_page}}">
	<div class="init_padding">
		<div class="animate" data-animfrom="right">
			<h2>{{page.title}}</h2>
			<hr class="hr_width">
		</div>
		<div>
			<div ng-bind-html="page.text.top | to_trusted"></div>
			<div class="row">
				<div class="col-sm-7">
					<div class="animate padding_right_20 icon" ng-repeat="item in page.text.icons" data-animfrom="right">
						<img class="img" ng-src="{{item.icon}}" alt="">
						<div class ="txt" ng-bind-html="item.p | to_trusted"></div>
					</div>
				</div>
				<div class="col-sm-5">
					<img ng-if="page.text.image" ng-src="{{page.text.image}}" class="top_20 border-image width_100 animate" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	$().ready(function () {
		animate();
		showNext(default_delay);

	});
</script>