<section class="sec" data-current="{{curr_page}}">
	<div class="init_padding">
		<div class="animate" data-animfrom="right">
			<!-- <p class="page_no">Page {{curr_page+1}} of {{total_page}}</p> -->
			<h2>{{pageTitle}}</h2>
			<hr class="hr_width">
		</div>
		<!--
		<img ng-src="{{image}}" class="top_20 animate float_right xs-float-100" alt="">
		<div class="animate" data-animfrom="right">
			<div ng-repeat="item in text.p">
				<p ng-bind-html="item | to_trusted"></p>
			</div>
		</div>
		-->
		<div class="row">
			<div class="col-sm-7">
				<div class="animate padding_right_20" data-animfrom="right">
					<div ng-repeat="item in text.p">
						<p ng-bind-html="item | to_trusted"></p>
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<img ng-src="{{image}}" class="top_20 border-image animate width_100" alt="">
			</div>
		</div>
		<!--<div class="animate">
			<div class="bottom_nav default_delay">
				<button ng-click="next()" class="btn btn-round-radius btn_red">Next</button>
			</div>
		</div>-->
	</div>
</section>

<script>
	$().ready(function () {
		animate();
		showNext(default_delay);
	});
</script>