<section class="sec" data-current="{{curr_page}}">
    <div class="container_full">
        <div class="init_padding">
            <div class="row">
                <div class="col-sm-12">
                    <div class="animate">
                        <p class="page_no">Page {{curr_page+1}} of {{total_page}}</p>
                        <h2>{{pageTitle}}</h2>
                        <hr class="hr_width">
                    </div>
                    <div class="animate">
                        <p ng-repeat="item in text.t">{{item}}</p>

                        <div class="tab">
                            <div class="title">
                                <ul>
                                    <li ng-repeat="item in text.interactivity">
                                        <!--<div class="icon">
                                        <img ng-src="{{item.icon}}" alt="">
                                    </div>-->
                                        <div class="txt">
                                            {{item.tab}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <div class="item" ng-repeat="item in text.interactivity">
                                    <!--<div class="float_right">
                                    <img ng-src="{{item.image}}" alt="">
                                </div>-->
                                    <div ng-bind-html="item.reveal | to_trusted"></div>
                                    <div class="text_center">
                                        <img ng-src="{{item.image}}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bottom_nav">
                            <button ng-click="next()" class="btn btn-round-radius btn_red">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $().ready(function () {
        animate();
        $(".bottom_nav").fadeOut();
        var next_appears = false;

        $(".tab .title ul li").click(function () {
            $(".tab .title ul li").removeClass("active");
            $(this).addClass("active");
            $(this).data("clicked", true);
            $(".tab .body .item").hide();
            $(".tab .body .item").eq($(this).index()).delay(300).fadeIn(500);
            var finish_count = 0;
            $(".tab .title ul li").each(function () {
                if ($(this).data("clicked") == true) {
                    finish_count++;
                }
                if (finish_count == $(".tab .title ul li").length && next_appears == false) {
                    appear($(".bottom_nav"), 1000);
                    next_appears = true;
                    pageCompleted($(".sec").data("current"));
                }
            });

        });
        $(".tab .title ul li").eq(0).click();
    });
</script>