<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="table.css" />
</head>

<body>
    <div class="static_width">
    <table class="tb" border="1" cellspacing="0">
        <tbody>
            <tr>
                <td style="width: 60px;"> </td>
                <td style="width: 67px;">
                    <p>
                        <strong>psi </strong>
                    </p>
                </td>
                <td style="width: 81px;">
                    <p>
                        <strong>atms </strong>
                    </p>
                </td>
                <td style="width: 76px;">
                    <p>
                        <strong>kg/cm2 </strong>
                    </p>
                </td>
                <td style="width: 67px;">
                    <p>
                        <strong>in Hg </strong>
                    </p>
                </td>
                <td style="width: 65px;">
                    <p>
                        <strong>mm Hg </strong>
                    </p>
                </td>
                <td style="width: 64px;">
                    <p>
                        <strong>cm Hg </strong>
                    </p>
                </td>
                <td style="width: 55px;">
                    <p>
                        <strong>mbar </strong>
                    </p>
                </td>
                <td style="width: 64px;">
                    <p>
                        <strong>bar </strong>
                    </p>
                </td>
                <td style="width: 65px;">
                    <p>
                        <strong>Pa </strong>
                    </p>
                </td>
                <td style="width: 72px;">
                    <p>
                        <strong>kPa </strong>
                    </p>
                </td>
                <td style="width: 90px;">
                    <p>
                        <strong>MPa </strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width: 60px;">
                    <p>
                        <strong>psi </strong>
                    </p>
                </td>
                <td class="highlight" style="width: 67px;">
                    <p>1</p>
                </td>
                <td style="width: 81px;">
                    <p>0.06805</p>
                </td>
                <td style="width: 76px;">
                    <p>0.07031</p>
                </td>
                <td style="width: 67px;">
                    <p>2.036</p>
                </td>
                <td style="width: 65px;">
                    <p>51.72</p>
                </td>
                <td style="width: 64px;">
                    <p>5.172</p>
                </td>
                <td style="width: 55px;">
                    <p>68.95</p>
                </td>
                <td style="width: 64px;">
                    <p>0.06895</p>
                </td>
                <td style="width: 65px;">
                    <p>6895</p>
                </td>
                <td style="width: 72px;">
                    <p>6.895</p>
                </td>
                <td style="width: 90px;">
                    <p>0.006895</p>
                </td>
            </tr>
            <tr>
                <td style="width: 60px;">
                    <p>
                        <strong>atms </strong>
                    </p>
                </td>
                <td style="width: 67px;">
                    <p>14.7</p>
                </td>
                <td class="highlight" style="width: 81px;">
                    <p>1</p>
                </td>
                <td style="width: 76px;">
                    <p>1.033</p>
                </td>
                <td style="width: 67px;">
                    <p>29.92</p>
                </td>
                <td style="width: 65px;">
                    <p>760</p>
                </td>
                <td style="width: 64px;">
                    <p>76</p>
                </td>
                <td style="width: 55px;">
                    <p>1013</p>
                </td>
                <td style="width: 64px;">
                    <p>1.013</p>
                </td>
                <td style="width: 65px;">
                    <p>101325</p>
                </td>
                <td style="width: 72px;">
                    <p>101.3</p>
                </td>
                <td style="width: 90px;">
                    <p>0.1013</p>
                </td>
            </tr>
            <tr>
                <td style="width: 60px;">
                    <p>
                        <strong>kg/cm2 </strong>
                    </p>
                </td>
                <td style="width: 67px;">
                    <p>14.22</p>
                </td>
                <td style="width: 81px;">
                    <p>0.9678</p>
                </td>
                <td class="highlight" style="width: 76px;">
                    <p>1</p>
                </td>
                <td style="width: 67px;">
                    <p>28.96</p>
                </td>
                <td style="width: 65px;">
                    <p>735.6</p>
                </td>
                <td style="width: 64px;">
                    <p>73.56</p>
                </td>
                <td style="width: 55px;">
                    <p>980.7</p>
                </td>
                <td style="width: 64px;">
                    <p>0.9807</p>
                </td>
                <td style="width: 65px;">
                    <p>98066</p>
                </td>
                <td style="width: 72px;">
                    <p>98.07</p>
                </td>
                <td style="width: 90px;">
                    <p>0.098066</p>
                </td>
            </tr>
            <tr>
                <td style="width: 60px;">
                    <p>
                        <strong>in Hg </strong>
                    </p>
                </td>
                <td style="width: 67px;">
                    <p>0.49115</p>
                </td>
                <td style="width: 81px;">
                    <p>0.03342</p>
                </td>
                <td style="width: 76px;">
                    <p>0.03453</p>
                </td>
                <td class="highlight" style="width: 67px;">
                    <p>1</p>
                </td>
                <td style="width: 65px;">
                    <p>25.4</p>
                </td>
                <td style="width: 64px;">
                    <p>2.54</p>
                </td>
                <td style="width: 55px;">
                    <p>33.86</p>
                </td>
                <td style="width: 64px;">
                    <p>0.03386</p>
                </td>
                <td style="width: 65px;">
                    <p>3386</p>
                </td>
                <td style="width: 72px;">
                    <p>3.386</p>
                </td>
                <td style="width: 90px;">
                    <p>0.003386</p>
                </td>
            </tr>
            <tr>
                <td style="width: 60px;">
                    <p>
                        <strong>mm Hg </strong>
                    </p>
                </td>
                <td style="width: 67px;">
                    <p>0.01934</p>
                </td>
                <td style="width: 81px;">
                    <p>0.001316</p>
                </td>
                <td style="width: 76px;">
                    <p>0.00136</p>
                </td>
                <td style="width: 67px;">
                    <p>0.03937</p>
                </td>
                <td class="highlight" style="width: 65px;">
                    <p>1</p>
                </td>
                <td style="width: 64px;">
                    <p>0.1</p>
                </td>
                <td style="width: 55px;">
                    <p>1.33</p>
                </td>
                <td style="width: 64px;">
                    <p>0.001333</p>
                </td>
                <td style="width: 65px;">
                    <p>133.3</p>
                </td>
                <td style="width: 72px;">
                    <p>0.1333</p>
                </td>
                <td style="width: 90px;">
                    <p>0.000133</p>
                </td>
            </tr>
            <tr>
                <td style="width: 60px;">
                    <p>
                        <strong>cm Hg </strong>
                    </p>
                </td>
                <td style="width: 67px;">
                    <p>0.1934</p>
                </td>
                <td style="width: 81px;">
                    <p>0.01316</p>
                </td>
                <td style="width: 76px;">
                    <p>0.0136</p>
                </td>
                <td style="width: 67px;">
                    <p>0.3937</p>
                </td>
                <td style="width: 65px;">
                    <p>10</p>
                </td>
                <td class="highlight" style="width: 64px;">
                    <p>1</p>
                </td>
                <td style="width: 55px;">
                    <p>13.33</p>
                </td>
                <td style="width: 64px;">
                    <p>0.01333</p>
                </td>
                <td style="width: 65px;">
                    <p>1333</p>
                </td>
                <td style="width: 72px;">
                    <p>1.333</p>
                </td>
                <td style="width: 90px;">
                    <p>0.001333</p>
                </td>
            </tr>
            <tr>
                <td style="width: 60px;">
                    <p>
                        <strong>mbar </strong>
                    </p>
                </td>
                <td style="width: 67px;">
                    <p>0.0145</p>
                </td>
                <td style="width: 81px;">
                    <p>0.000987</p>
                </td>
                <td style="width: 76px;">
                    <p>0.00102</p>
                </td>
                <td style="width: 67px;">
                    <p>0.02953</p>
                </td>
                <td style="width: 65px;">
                    <p>0.7501</p>
                </td>
                <td style="width: 64px;">
                    <p>0.07501</p>
                </td>
                <td class="highlight" style="width: 55px;">
                    <p>1</p>
                </td>
                <td style="width: 64px;">
                    <p>0.001</p>
                </td>
                <td style="width: 65px;">
                    <p>100</p>
                </td>
                <td style="width: 72px;">
                    <p>0.1</p>
                </td>
                <td style="width: 90px;">
                    <p>0.0001</p>
                </td>
            </tr>
            <tr>
                <td style="width: 60px;">
                    <p>
                        <strong>bar </strong>
                    </p>
                </td>
                <td style="width: 67px;">
                    <p>14.5</p>
                </td>
                <td style="width: 81px;">
                    <p>0.9869</p>
                </td>
                <td style="width: 76px;">
                    <p>1.02</p>
                </td>
                <td style="width: 67px;">
                    <p>29.53</p>
                </td>
                <td style="width: 65px;">
                    <p>750.1</p>
                </td>
                <td style="width: 64px;">
                    <p>75.01</p>
                </td>
                <td style="width: 55px;">
                    <p>1000</p>
                </td>
                <td class="highlight" style="width: 64px;">
                    <p>1</p>
                </td>
                <td style="width: 65px;">
                    <p>100000</p>
                </td>
                <td style="width: 72px;">
                    <p>100</p>
                </td>
                <td style="width: 90px;">
                    <p>0.1</p>
                </td>
            </tr>
            <tr>
                <td style="width: 60px;">
                    <p>
                        <strong>Pa </strong>
                    </p>
                </td>
                <td style="width: 67px;">
                    <p>0.000145</p>
                </td>
                <td style="width: 81px;">
                    <p>0.00000987</p>
                </td>
                <td style="width: 76px;">
                    <p>0.0000102</p>
                </td>
                <td style="width: 67px;">
                    <p>0.000295</p>
                </td>
                <td style="width: 65px;">
                    <p>0.007499</p>
                </td>
                <td style="width: 64px;">
                    <p>0.00075</p>
                </td>
                <td style="width: 55px;">
                    <p>0.01</p>
                </td>
                <td style="width: 64px;">
                    <p>0.00001</p>
                </td>
                <td class="highlight" style="width: 65px;">
                    <p>1</p>
                </td>
                <td style="width: 72px;">
                    <p>0.001</p>
                </td>
                <td style="width: 90px;">
                    <p>0.000001</p>
                </td>
            </tr>
            <tr>
                <td style="width: 60px;">
                    <p>
                        <strong>kPa </strong>
                    </p>
                </td>
                <td style="width: 67px;">
                    <p>0.145</p>
                </td>
                <td style="width: 81px;">
                    <p>0.009869</p>
                </td>
                <td style="width: 76px;">
                    <p>0.0102</p>
                </td>
                <td style="width: 67px;">
                    <p>0.2953</p>
                </td>
                <td style="width: 65px;">
                    <p>7.501</p>
                </td>
                <td style="width: 64px;">
                    <p>0.7501</p>
                </td>
                <td style="width: 55px;">
                    <p>10</p>
                </td>
                <td style="width: 64px;">
                    <p>0.01</p>
                </td>
                <td style="width: 65px;">
                    <p>1000</p>
                </td>
                <td class="highlight" style="width: 72px;">
                    <p>1</p>
                </td>
                <td style="width: 90px;">
                    <p>0.001</p>
                </td>
            </tr>
            <tr>
                <td style="width: 60px;">
                    <p>
                        <strong>MPa </strong>
                    </p>
                </td>
                <td style="width: 67px;">
                    <p>145</p>
                </td>
                <td style="width: 81px;">
                    <p>9.869</p>
                </td>
                <td style="width: 76px;">
                    <p>10.2</p>
                </td>
                <td style="width: 67px;">
                    <p>295.3</p>
                </td>
                <td style="width: 65px;">
                    <p>7500</p>
                </td>
                <td style="width: 64px;">
                    <p>750</p>
                </td>
                <td style="width: 55px;">
                    <p>10000</p>
                </td>
                <td style="width: 64px;">
                    <p>10</p>
                </td>
                <td style="width: 65px;">
                    <p>1000000</p>
                </td>
                <td style="width: 72px;">
                    <p>1000</p>
                </td>
                <td class="highlight" style="width: 90px;">
                    <p>1</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>

</html>